.mainimage{
margin:20px 0px 0px 0px;
width:100%;
height:500px;
background:url(ttg.jpg) repeat-x;
color:white;
}
h1{
	float:left;
	margin-left:0px;
	margin-top:0px;
}
h1.hover{color:#009}
.search{
width:200px;
height:30px;
border-radius:4px;
margin-left:20px;
border:1px solid #d0d0d0;
padding-left:5px;
}

.mainlink{
	text-decoration:none;
	color:#000;
	font-size:30px;
}
.button2{
width:340px;
height:45px;
border-radius:5px;
border:1px solid black;
background:#00cc66;
margin-left:30px;
color:white;
font-weight:bold;
font-size:15px;
}
.button2:hover{
background:#009933;
}
	
.link{
	text-decoration:none;
	color:#000;
	margin-left:300px;
	margin-right:10px;

}
.lnk{
	margin-left:10px;
	margin-right:10px;
	text-decoration:none;
	color:#000;
}
a.hover
{color:#000;
}
.left{
height:500px;
float:left;
margin-left:70px;
}
.large{
margin-top:100px;
font-weight:bold;
font-size:65px;
font-family:Arial;
line-height:65px;
}
.small{
margin-top:50px;
font-size:25px;
}
.left a{
font-size:25px;
text-decoration:none;
color:#0099ff;
}
.left a:hover{
text-decoration:underline;
}
.right{
float:left;
margin-left:700px;
margin-top:-500px;
margin-right:10px;
}
.right a{
text-decoration:none;
color:#0099ff;
}
.right a:hover{
text-decoration:underline;
}
.right p{
position:relative;
margin-left:30px;
color:#909090;
}
.space{
width:100px;
height:70px;
}
.write{
width:340px;
height:45px;
margin-top:10px;
margin-left:30px;
border-radius:5px;
border:1px solid #c0c0c0;
padding-left:5px;
font-size:16px;
}